@use "sass:math";
@use 'base';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(#1B6A3D, #396434);
}

.container {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 11;
}

.snowflake {
  --size: 100%;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{math.random(5) * 0.2}vw;
    --left-ini: #{math.random(20) - 10}vw;
    --left-end: #{math.random(20) - 10}vw;
    left: #{math.random(100)}vw;
    animation: snowfall #{5 + math.random(10)}s linear infinite;
    animation-delay: -#{math.random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}
